<div class="container">
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Hour:@DateTime.Now.Minute:@DateTime.Now.Second  @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year  - <a href="@Url.Action("FilterData","ExpenseTracker")">The Expenses Tracker</a></p>
    </footer>

</div>
