@model IEnumerable<Expense_Tracker.Models.ViewModel>
@{
    ViewBag.Title = "dash";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<h2>dash</h2>

<table>
    <tr>
        name
    </tr>
    <tr>limit</tr>
    @foreach(var item in Model)
            {
                <td>@item.cat1</td>
                <td>@item.exp1.</td>
                
            }
</table>